<div class="container">
  <pre> {{pessoa | json}} </pre>
    <form>
        <div class="card">
            <div class="card-header">
                <h5>{{ idPessoa ? 'Editar' : 'Nova' }} pessoa</h5>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="nomePesquisador">Nome da pessoa:</label>
                        <input class="form-control" name="nomePesquisador" 
                        [(ngModel)]="pessoa.nome" required/>
    
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cpf">CPF:</label>
                        <input class="form-control" name="cpf" 
                        [(ngModel)]="pessoa.cpf" required/>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="nomePesquisador">Sexo:</label>
                        <input class="form-control" name="sexo" 
                        [(ngModel)]="pessoa.sexo" required/>
    
                    </div>
                    <div class="form-group col-md-3">
                        <label for="nomePais" >Nome do País:</label>
                        <select class="form-control" name="nomePais" [(ngModel)]="pessoa.paisOrigem"  required>
                            @for (pais of pais; track pais.idPais) {
                            <option [ngValue]="pais">
                                {{ pais.nomePais }} ({{ pais.sigla }})</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="dataNascimento">Data Nascimento:</label>
                        <input type="date" class="form-control" name="dataNascimento" [(ngModel)]="pessoa.dataNascimento"  required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="nomeVacina">tipo de pessoa cadastrada:</label>
                        <input type="number" class="form-control" name="tipoPessoaCadastrada" [(ngModel)]="pessoa.tipoPessoaCadastrada" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-1 ">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-outline-success" (click)="salvar()">Salvar</button>
                    </div>
                    <div class="form-group col-md-1 ">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-outline-warning" (click)="voltar()">Voltar</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

